@page "/"
@using System.Text.RegularExpressions;
@using System.Text.Json
@using System.Text.Json.Serialization
@using CsvBlazor.Client.Core;

@inject HttpClient httpClient
@inject IUiMessage uiMessage

<PageTitle>Mapper</PageTitle>

<h5>Mapper</h5>
<div>
    <InputFile OnChange="@OnInputFileChange" class="btn btn-primary" />
    @if (browserFile != null)
    {
        <button class="btn btn-secondary" @onclick="Run"><span class="oi oi-loop-circular" aria-hidden="true" /></button>
    }
    <div class="mt-4"></div>
    @if (columns.AnyUnmmaped())
    {
        <div class="alert alert-warning" role="alert">Unmapped:  @columns.CountUnmmaped() </div>
    }
    @if (columns.Any())
    {
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>File Column</th>
                    <th>Map To</th>
                    <th>Column With</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in columns)
                {
                    <tr>
                        <td>@item.Name</td>
                        @if (item.IsMapped)
                        {
                            <td>
                                <button type="button" class="btn btn-light" @onclick="() => SelectColumn(item.Id)" title="Click to select another column">@item.MapTo</button>
                                <button type="button" class="btn btn-light" @onclick="() => UnselectColumn(item.Id)" title="Remove mapping">x</button>
                            </td>
                        }
                        else
                        {

                            <td><button type="button" class="btn btn-secondary" @onclick="() => SelectColumn(item.Id)">Not mapped</button></td>
                        }
                        <td>
                            @if (item.IsMapped)
                            {
                                <input @bind="@item.With" @bind:event="oninput" class="form-control @(item.IsValidWith()? CustomCss.ValidClass : CustomCss.InvalidClass)" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <SearchDialog @ref="SearchDialogBaseReference" CloseEventCallback="SelectedItem"></SearchDialog>
    }
</div>

@code {
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    public SearchDialog SearchDialogBaseReference { get; set; } = null!;

    Columns columns = new Columns();
    IBrowserFile? browserFile = null;

    public class CustomCss
    {
        public const string InvalidClass = "is-invalid";
        public const string ValidClass = "";
    }

    string input_with_validation_class = CustomCss.InvalidClass;

    async Task Run()
    {
        if (browserFile == null)
        {
            return;
        }
        //SpinnerModal.ShowSpinner();

        Regex regex = new Regex(".+\\.csv", RegexOptions.Compiled);
        if (!regex.IsMatch(browserFile.Name))
        {
            await uiMessage.Error("Invalid file, select a .csv file");
        }
        else
        {
            var stream = browserFile.OpenReadStream();
            //var all = new List<string[]>();
            using var ms = new MemoryStream();
            await stream.CopyToAsync(ms);
            stream.Close();
            var outputFileString = System.Text.Encoding.UTF8.GetString(ms.ToArray());

            foreach (var item in outputFileString.Split(Environment.NewLine))
            {
                var splited = SplitCSV(item.ToString());
                //Console.WriteLine(System.Text.Json.JsonSerializer.Serialize(splited));
                if (splited != null && splited.Any())
                {
                    columns = beginColumn(splited);
                    await uiMessage.Success($"{columns.Count} columns ready to map");
                    break;
                }
                else
                {
                    await uiMessage.Error("Invalid file, select a  valid.csv file");
                }
            }
        }
    }

    Columns beginColumn(string[] asArray)
    {
        var columns = asArray.Select(x => new Column(Guid.NewGuid())
            {
                Name = x
            });
        var col = new Columns();
        col.AddRange(columns);
        return col;
    }

    public async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        browserFile = e.File;
        await Run();
    }
    private string[] SplitCSV(string input)
    {
        Console.WriteLine(input);
        //Excludes commas within quotes
        Regex csvSplit = new Regex("(?:^|,)(\"(?:[^\"]+|\"\")*\"|[^,]*)", RegexOptions.Compiled);
        List<string> list = new List<string>();
        string curr = null;
        foreach (Match match in csvSplit.Matches(input))
        {
            curr = match.Value;
            if (0 == curr.Length) list.Add("");

            list.Add(curr.TrimStart(','));
        }

        return list.ToArray();
    }

    void SelectedItem(CloseEvenItem item)
    {
        if (item == null)
            return;

        var column = columns.FirstOrDefaultById(item.ExternalId);
        if (column == null) return;

        if (columns.IsMappedColumnAlreadyUsed(item.Value))
        {
            uiMessage.Error($"Column '{item.Value}' already mapped");
            return;
        }

        column.MapTo = item.Value;
        SearchDialogBaseReference.Close();
    }

    async Task SelectColumn(Guid id)
    {
        var result = await GetAllInternalColumns();
        if (result != null && result.Count > 0)
        {
            SearchDialogBaseReference.Show(id, result);
        }
    }

    void UnselectColumn(Guid id)
    {
        var column = columns.FirstById(id);
        column.UnSelect();
    }

    async Task<List<ColumnDto>?> GetAllInternalColumns()
    {
        var response = await httpClient.GetFromJsonAsync<List<ColumnDto>>("api/config/getInternalColumns");
        return response;
    }
}
